<!-- FOOTER DIV -->
  <footer class="page-footer blue-grey darken-4">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">About this blog</h5>
          <p class="grey-text text-lighten-4">We are Python/NodeJS Fullstack Developers, Database Administrators, System Admins writting blog to share our knowledge to readers. We love to create beautiful, inspiration things with new technologies. If you have any idea, tutorials want to post here, tell us about a duplicated post (no, we are not allowed repost here) or just want to say hi, feel free to contact us at <a href="loitranduc@gmail.com">loitranduc@gmail.com</a></p>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Links</h5>
          <ul>
            <li><a class="white-text" href="#!">Write for us</a></li>
            <li><a class="white-text" href="#!">Terms & Privacy</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Follow us on</h5>
          <ul>
            <li><a class="white-text" href="#!"><i class="fa fa-facebook-official" aria-hidden="true"></i> Facebook</a></li>
            <li><a class="white-text" href="#!"><i class="fa fa-twitter-square" aria-hidden="true"></i> Twitter</a></li>
            <li><a class="white-text" href="#!"><i class="fa fa-google-plus-square" aria-hidden="true"></i> Google+</a></li>
            <li><a class="white-text" href="#!"><i class="fa fa-dribbble" aria-hidden="true"></i> Dribble</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        <div class="left">
          Made by <a class="orange-text text-lighten-3" href="http://config9.com">Config9</a> with <i class="fa fa-coffee" aria-hidden="true"></i> and <i class="fa fa-google" aria-hidden="true"></i>
        </div>
        <div class="right">
          <i class="fa fa-copyright" aria-hidden="true"></i> All rights reserved. Content redistribution is NOT allowed.
        </div>
       
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="/js/jquery-2.1.1.min.js"></script>
  <script src="/js/materialize.js"></script>
  <script src="/js/config9.js"></script>

<!-- Other scripts -->

<!-- GAnalytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-52468038-5', 'auto');
  ga('send', 'pageview');

</script>


  </body>
</html>

			